In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier

In [3]:
data = pd.read_csv('cleaned_dataset.csv')

In [4]:
data.head()

,Age,Gender,Years at Address,Employment Status,Country,Current Debt,Postcode,Income,Housing,CCJs,Loan Amount,Outcome
0,19,M,2,Unemployed,UK,0.0,TA3 7SH,45500.0,Rent,1,13234.0,Paid
1,66,F,13,Unemployed,UK,1080.0,WV6 8SU,21000.0,Own,0,5561.0,Paid
2,48,F,4,Self Employed,UK,3690.0,BT15 5HG,47500.0,Rent,1,28288.0,Paid
3,67,F,42,Self Employed,UK,6560.0,GU10 3NH,36000.0,Mortgage,0,30199.0,Paid
4,70,M,8,Self Employed,UK,9100.0,GL6 6UB,50500.0,Own,0,35078.0,Paid

In [6]:
data['Postcode'].value_counts()

CV36 5HS    3
SW5 9TF     3
SW19 6NX    2
LN2 4BL     2
GL54 1JU    2
           ..
HP5 3NE     1
HG4 2QD     1
HA5 3AZ     1
HA4 8SY     1
RG6 5SJ     1
Name: Postcode, Length: 1971, dtype: int64

In [8]:
data['Postcode'].nunique()

1971

In [19]:
X = data.drop('Outcome', axis=1)
y = data['Outcome']

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

In [ ]:
# clf = RandomForestClassifier(n_estimators=11, max_depth=None, min_samples_split=2, random_state=0)
# clf.fit(X_train, y_train)